body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background: linear-gradient(to bottom, #00bcd4, #007bff);

}

header {
  background-color: #1a1a1a;
  color: #fff;
  text-align: center;
  padding: 2rem 0;
  animation: fadeInUp 1s ease;
}

main {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  padding: 2rem;
  border-radius: 10px;
  animation: fadeInUp 1s ease;
}

footer {
  background-color: #1a1a1a;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin-bottom: 1rem;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1.5rem;
}

.project-button {
  background-color: #4caf50;

  color: #fff;
  padding: 14px 28px;

  border: none;
  border-radius: 30px;

  margin: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.project-button:hover {
  background-color: #45a049;

  transform: translateY(-3px);

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.back-button {
  display: block;
  margin-top: 2rem;

  text-align: center;
  background-color: #007bff;
  color: #fff;
  padding: 14px 28px;

  border: none;
  border-radius: 30px;

  text-decoration: none;
  font-weight: 600;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.back-button:hover {
  background-color: #0056b3;
  transform: translateY(-3px);

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.project-button:hover {
  background-color: #45a049;
  transform: translateY(-3px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.back-button:hover {
  background-color: #0056b3;
  transform: translateY(-3px) scale(1.02);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


header h1 {
  position: relative;
  display: inline-block;
}

header h1::after {
  content: " |";
  position: absolute;
  left: 100%;
  opacity: 0;
  animation: fadeInRight 0.5s forwards 1s ease, slideOut 4s forwards 1s linear;
}

@keyframes fadeInRight {
  to {
    opacity: 1;
    left: 0;
  }
}

@keyframes slideOut {
  to {
    left: 200%;
    opacity: 0;
  }
}

header {
  background: linear-gradient(135deg, #007bff 10%, #00bcd4 90%);
  background-size: 200% 200%;
  animation: gradientAnimation 6s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}